<div style="margin-top: 120px;" class="container">
	<h1>News</h1>
</div>
<div class="container">
	<div class="row">
		<div class="col-sm-8 col-md-9">
			<h4 class="text-weight-normal">Showing {{ data.posts.results.length}} post.</h4>
			<div class="blog">
				<ul class="list-unstyled">
					{{# each data.posts.results}}
					<li data-ks-editable="{{#if ../user}}{{adminEditableUrl ../../user _id}}{{/if}}" class="post" style='border-bottom: 1px dotted rgb(134, 188, 211)'>
						<h3><a href="{{postUrl slug}}">{{{title}}}</a></h3>
						<p class="lead text-muted" style='font-size: 15px;'>{{{categoryList categories prefix="Category: "}}}
								on {{{date}}}
						</p>
						<div class='truncate'>{{{content.brief}}}</div>
						<p class="read-more"><a href="{{postUrl slug}}">Read more...</a></p>
					</li>
					{{/each}}
				</ul>
			</div>
		</div>
		<div class="col-sm-4 col-md-3">
			<h2>Categories</h2>
			<div style="margin-top: 40px;" class="list-group">
				<a href="/blog" class="active list-group-item">All Categories</a>
				{{# each data.categories }}
				<a href="{{categoryUrl key}}" class="false list-group-item">{{name}}</a>
				{{/each}}
			</div>
		</div>
	</div>
	{{>pagination}}
</div>
